body{
    background:#E8E8E8}
iframe {
    margin-top: 20px;}
th, td {
    border-top: 1px grey  solid ;
}
td{
      padding: 10px;
      margin:10px;
}
table {
    border-bottom: 1px grey  solid  ;
    width:530px;
}
tr{
    background-color: white}
tr:hover{ 
    background-color: #CAFCF2}

#frm{
    border:solid grey 1px;
    width: 20%;  
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
}

#mainbox{
    border:solid grey  1px;
    width: 600px;
    border-radius: 10px;
    margin: 50px auto;
    background: white;
    padding: 30px;
}

#bth{  
    color:black;
    background: #009900;
    padding: 5px;
    margin-left: 69%;
}

#box {
    border:solid grey  1px;
    width: 550px;
    border-radius: 10px;
    margin: 30px auto;
    background: #E8E8E8;
    padding: 25px;  
}
#box p{
    color:red;
}
/* my css  style for hover menu effect*/	
#menu {
    padding:0;
    margin-bottom:30px;
}

#menu ul {
    margin:0;
    padding:0;
    line-height:40px;
}
#menu li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    position:relative;
}

#menu ul li a{
    background-color: #70FFE1  ; /*fons kad nekas nenotiek ar menu*/
    border:solid grey  1px;
    border-radius: 10px;
    text-align:center;
    text-decoration:none;
    height:40px;
    width:273px;
    display:block;
    color:black;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

#menu ul li a:hover {
    background: #CAFCF2  ; /*fons kad uzvel uz galvena menu*/
}